<web-app>
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

        <!-- Où chercher les classes @Path -->
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>alom.user</param-value>
        </init-param>

        <!-- Support JSON -->
        <init-param>
    <param-name>jersey.config.server.provider.classnames</param-name>
    <param-value>org.glassfish.jersey.jackson.JacksonFeature</param-value>
</init-param>


        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/api/users/*</url-pattern>
    </servlet-mapping>
</web-app>
